*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    background-color: blueviolet;
    width: 100;
    justify-content: center;
    align-content: center;
    align-items: center;
}


#cont{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 500px;
    align-content: center;
    align-items: center;
}
